<div class="test-content">
    <h1 class="page-title">My Tests</h1>
    <div class="test-create">
      <form #testForm="ngForm" novalidate>
    		<input type="text" id="title" class="form-control" placeholder="Give a name to this Test"
    		       required
    		       name="title" [(ngModel)]="newTest.content"
    		       #title="ngModel" >
        <div class="test-buttons">
          <button  (click) = "createTest(testForm)" [disabled]="!title.valid" md-raised-button color="primary">Add Test</button>
        </div>
      </form>
    </div>
    <ul class="test-list">
      <li *ngFor="let test of tests"  >
        <div class="test-row" *ngIf="!editing || editingTest.id != test.id">
                      <span class="test-title">
            	{{test.content}}
            </span>
            <span class="test-actions">
                <a (click)="editTest(test)">
                	<i class="material-icons edit">edit</i>
                </a>
                <a (click)="buildTest(test)">
                	<i class="material-icons build">build</i>
                </a>
                <a (click)="deleteTest(test.id)">
                	<i class="material-icons delete">clear</i>
                </a>
                <jaspero-confirmations [defaultSettings]="options2"></jaspero-confirmations>

            </span>
        </div>
        <div class="test-edit" *ngIf="editing && editingTest.id === test.id">
            <input class="form-control" type="text"
             [(ngModel)]="editingTest.content" required>
            <span class="edit-actions">
                <a (click)="updateTest(editingTest)">
                  <i class="material-icons">done</i>
                </a>
                <a (click)="clearEditing()">
                  <i class="material-icons">clear</i>
                </a>
            </span>
        </div>
      </li>
    </ul>
    <div class="no-tests" *ngIf="tests && tests.length == 0">
        <p>No Tests Found!</p>
    </div>
</div>
